.about-us {
  padding: 40px 16px;

  @include for-desktop {
    padding: 60px 150px;
  }

  &__title {
    margin-bottom: 40px;
    font-family: 'Exo', sans-serif;
    font-size: 24px;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    color: $color-text-title;

    @include for-desktop {
      font-size: 32px;
    }
  }

  &__infos {

    @include for-desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    margin-bottom: 24px;

    @include for-desktop {
      width: 485px;
      margin-bottom: 0;
    }
  }

  &__info:last-child {
    margin-bottom: 0;
  }

  &__subtitle {
    margin-bottom: 16px;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    color: $color-text-title;

    @include for-desktop {
      font-size: 24px;
    }
  }

  &__description {
    line-height: 150%;
    color: $color-text-description;
  }
  &__description:last-child {
    margin-bottom: 0;
  }
}
