.nav {
  display: flex;
  flex-direction: column;
  width: 168px;

  @include for-desktop {
    flex-direction: row;
    width: 528px;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;
    color: #313131;
    text-transform: capitalize;

    @include for-desktop {
      height: 24px;
      font-size: 16px;
    }
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 168px;

  &__item {
    width: 40px;
    height: 40px;
  }

  &__item img {
    width: 100%;
  }
}
.contacts {
  text-align: center;

  &__title {
    margin-bottom: 8px;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    line-height: 140%;
    text-transform: capitalize;
    color: #313131;
    @include for-desktop {
      margin-bottom: 12px;
      font-size: 16px;
    }
  }

  &__email {
    line-height: 150%;
    color: #585858;
    font-size: 14px;
    @include for-desktop {
      font-size: 16px;
    }
  }
}

.footer {
  padding: 64px 0 32px;
  background-color: #f9f1ee;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;

  @include for-desktop {
    padding: 64px 150px;
  }
  &__logo {
    margin-bottom: 24px;
  }

  &__nav {
    margin-bottom: 28px;
  }

  &__social-media {
    margin-bottom: 28px;
  }
}
