.header {
  display: flex;
  align-items: center;
  padding: 0 16px;

  @include for-desktop {
    width: 100%;
    padding: 24px 150px;
  }

  &__button {
    display: none;

    @include for-desktop {
      display: block;
    }
  }

  &__menu-button {
    display: block;
    width: 80px;
    height: 84px;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include for-desktop {
      display: none;
    }
  }

  &__burger-menu {
    width: 24px;
    height: 16px;
    margin-left: auto;
  }

  &__burger-menu img {
    max-width: 100%;
  }

  &__nav {
    display: none;

    @include for-desktop {
      display: flex;
      min-width: 380px;
      margin-left: auto;
      margin-right: 64px;
    }
  }
}

.burger-menu {
  display: inline-block;
  width: 24px;
  height: 16px;
  background-image: url(../images/burger_menu.png);
}
